USE [Prueba_Sistema]
GO
/****** Object:  Table [dbo].[CORDITT]    Script Date: 04/05/2018 15:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CORDITT](
	[CORDI11_ALIAS] [varchar](20) NOT NULL,
	[CORDI21_TIPDOC] [decimal](2, 0) NOT NULL,
	[CORDI22_NUMDOC] [decimal](11, 0) NOT NULL,
	[CORDI91_FECALT] [datetime] NOT NULL,
	[CORDI91_ALIGTE] [varchar](20) NOT NULL,
 CONSTRAINT [CORDI11_ALIAS_pk] PRIMARY KEY CLUSTERED 
(
	[CORDI11_ALIAS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CORDITT] ([CORDI11_ALIAS], [CORDI21_TIPDOC], [CORDI22_NUMDOC], [CORDI91_FECALT], [CORDI91_ALIGTE]) VALUES (N'ALTAMIRANO', CAST(80 AS Decimal(2, 0)), CAST(20321760148 AS Decimal(11, 0)), CAST(0x0000A57C00000000 AS DateTime), N'')
INSERT [dbo].[CORDITT] ([CORDI11_ALIAS], [CORDI21_TIPDOC], [CORDI22_NUMDOC], [CORDI91_FECALT], [CORDI91_ALIGTE]) VALUES (N'ANFOSSI', CAST(96 AS Decimal(2, 0)), CAST(42327458 AS Decimal(11, 0)), CAST(0x0000A7E100000000 AS DateTime), N'')
INSERT [dbo].[CORDITT] ([CORDI11_ALIAS], [CORDI21_TIPDOC], [CORDI22_NUMDOC], [CORDI91_FECALT], [CORDI91_ALIGTE]) VALUES (N'ARELLANO', CAST(80 AS Decimal(2, 0)), CAST(20250818174 AS Decimal(11, 0)), CAST(0x0000A5A100000000 AS DateTime), N'')
